name: build

on:
  push:
    branches:
    - main
  pull_request: { }
  workflow_dispatch: { }

permissions:
  contents: read

concurrency:
  group: build-${{github.ref}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    if: >-
      ${{
        (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
        || (github.event_name == 'push' && !contains(github.event.head_commit.message, '[push-back]') && !contains(github.event.head_commit.message, '[noci]') && !contains(github.event.head_commit.message, '[no-ci]'))
        || github.event_name != 'push'
      }}
    strategy:
      matrix:
        cloud:
        - gcp
        cicd:
        - github
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Read Terraform version
      id: terraform-version
      run: echo "version=$(cat .terraform-version | tr -d '[:space:]')" >> $GITHUB_OUTPUT
    - name: Terraform - Setup
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{steps.terraform-version.outputs.version}}

    - name: Terraform - Init
      working-directory: ${{matrix.cloud}}/${{matrix.cicd}}
      run: terraform init -backend=false

    - name: Terraform - Validate
      working-directory: ${{matrix.cloud}}/${{matrix.cicd}}
      run: terraform validate
